#navigation{
    height: 80px;
    width: 100%;
    background-color: rgb(212, 212, 161);
}
#header{
    height: 200px;
    width: 100%;
    background-color: rgb(252, 157, 69);
}
#home{
    height: 400px;
    width: 100%;
    background-color: rgb(216, 200, 156);
}
#footer{
    height: 50px;
    width: 100%;
    background-color: rgb(219, 247, 65);
}

ul#menu li{
    display: inline;
    font-size: 70px;
}