#div1{
    height: 100px;
    width: 100%;
    background-color: #9DC8C8;
}
#div2{
    height: 200px;
    width: 100%;
    background-color: #58C9B9;
}
#div3{
    height: 450px;
    width: 100%;
    background-color: #519D9E;
}
#div4{
    height: 50px;
    width: 100%;
    background-color: #D1B6E1;
}